<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head',{
  title : 'Perfil'
}) %>

<body>
  <%- include('./partials/headerNavbar') %>
  <div class="container">
    <section class="perfilUsuario">
      <div class="row perfil">

        <div class="titulo col-12">
          <h2>
            Perfil de Usuario
          </h2>
        </div>
        <div class="col-12">

          <div class="contenido">

            <ul class="nav nav-tabs " id="myTab" role="tablist">
              <li class="nav-item " role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="home"
                  aria-selected="true">Mis Datos</a>
              </li>
              <li class="nav-item " role="presentation">
                <a class="nav-link " id="profile-tab" data-toggle="tab" href="#productos" role="tab"
                  aria-controls="profile" aria-selected="false">Mi lista de deseos</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">

              <div class="tab-pane fade show active p-4" id="datos" role="tabpanel" aria-labelledby="home-tab">
                <form action="/users/updateProfile/<%= user.id %> ?_method=PUT" method="POST"
                  enctype="multipart/form-data">
                  <div class="form-row">
                    <div class="col-12 col-md-4 mt-3 d-flex flex-column align-items-center">
                      <img src="/images/logos/<%= user.image %> " id="imagePreview" class="avatarImg" alt="avatar"
                        width="75%" style="object-fit: cover; object-position: top;">
                      <div class="form-group w-75">
                        <input type="file" class="form-control" id="avatarImput" name="image">
                      </div>
                    </div>
                    <div class="col-12 col-md-8 ">
                      <div class="form-row mt-2">
                        <div class="form-group col-12 col-md-6 ">
                          <label for="name">Nombre</label>
                          <input type="text" name="name" class="form-control" id="name"
                            value=<%= user.name %> >
                        </div>
                        <div class="form-group col-12 col-md-6">
                          <label for="surname">Apellido</label>
                          <input type="text" name="surname" class="form-control" id="surname"
                            value=<%= user.surname %> >
                        </div>
                        <div class="form-group col-12 col-md-6">
                          <label for="email">Email</label>
                          <input type="email" name="email" class="form-control" id="email"
                            value=<%= user.email %> >
                        </div>
                        <div class="form-group col-12 col-md-6">
                          <label for="birthday">Fecha de nacimiento</label>
                          <input type="date" name="birthday" class="form-control" id="birthday"
                            value=<%= user.birthday %>>
                        </div>
                        <div class="form-group col-12">
                          <label for="inputAddress2">Dirección</label>
                          <input type="text" name="direccion" class="form-control" id="inputAddress2"
                            value="<%= user.addresses[0].address %>">
                        </div>
                        <div class="form-group col-12 col-md-6">
                          <label for="imputCiudad">Ciudad</label>
                          <input type="text" name="ciudad" class="form-control" id="inputCiudad"
                            value="<%= user.addresses[0].city %>">
                          <select class="form-control" id="ciudadSelect" style="display: none;"></select>

                        </div>
                        <div class="form-group col-12 col-md-6">
                          <label for="state">Provincia</label>
                          <input type="text" name="state" class="form-control" id="state"
                            value="<%= user.addresses[0].state %>">
                          <select class="form-control" id="provinciaSelect" style="display: none;">
                          </select>
                        </div>
                      </div>
                      <div class="d-md-flex justify-content-end mt-5">
                        <button type="button" class="btn-sm btn-secondary m-1"><a href="/" class="text-light">Salir sin
                            guardar</a></button>
                        <button type="submit" class="btn-sm btn-primary m-1">Actualizar datos</button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="col-12 col-md-4 d-flex justify-content-center">
                  <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn-sm btn-danger">Darse de baja</button>
                  </form>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%- include('partials/footer') %>

</body>

</html>